.card {
  width: 50px;
  height: 60px;
  background-color: rgb(53 157 247);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  position: relative;
}

.cardFront {
  transform: rotateY(90deg);
  transition: all ease-in 0.2s;
  width: 100%;
}

.cardFrontClicked {
  transform: rotateY(0deg);
  transition-delay: 0.2s;
}

.cardBack {
  transform: rotateY(0deg);
  transition: all ease-in 0.2s;
  transition-delay: 0.2s;
  border-radius: 10px;
}

.cardBackClicked {
  transform: rotateY(90deg);
  transition-delay: 0s;
}

/*MEDIA QUERIES*/

/*Extra Small, Mobile*/
@media (min-width: 500px) {
  .card {
    width: 75px;
    height: 90px;
  }
}
/* Medium Devices, Desktops */
@media (min-width: 992px) {
  .card {
    width: 100px;
    height: 120px;
  }
}
