.text {
  text-shadow: var(--shadow-text);
  font-size: 24px;
  animation: fadeIn 1s;
  width: 280px;
  text-align: center;
  padding: 10px;
}

.inputDiv {
  display: flex;
  flex-direction: row;
  animation: fadeIn 1s;
}

.input {
  font-size: 16px;
  padding: 5px;
  border-radius: 10px 0 0 10px;
  border: none;
}

.btnSubmit {
  color: var(--clr-headings);
  background-color: #6c8bbc;
  font-weight: bold;
  font-size: 16px;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.5);
  border-radius: 0 10px 10px 0;
  padding: 10px;
  border: none;
  border-left: 1px solid black;
}

.btnSubmit:hover {
  background-color: var(--clr-blue);
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media (min-width: 500px) {
  .text {
    width: 460px;
    padding: 5px;
  }
}

@media (min-width: 992px) {
  .text {
    font-size: 50px;
    width: 900px;
    padding: 10px;
  }
  .input {
    font-size: 28px;
    padding: 10px;
  }
  .btnSubmit {
    font-size: 28px;
  }
}
