.container {
  background-color: rgb(32, 76, 116);
  height: 100vh;
  background-image: url(../public/imgs/background.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cardGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
