@import url('https://fonts.googleapis.com/css2?family=Oleo+Script&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --ff-headings: 'Oleo Script', cursive;
  --shadow-headings: 4px 4px 0px rgba(0, 0, 0, 0.5);
  --shadow-text: 2px 2px 0px rgba(0, 0, 0, 0.5);
  --clr-headings: #e3f3f6;
}

body {
  font-family: var(--ff-headings);
  color: var(--clr-headings);
}

.container {
  background-color: rgb(32, 76, 116);
  height: 100vh;
  background-image: url("/imgs/background.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
