.container {
  background-color: rgb(32, 76, 116);
  height: 100vh;
  background-image: url(../public/imgs/background.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.playBtnContainer {
  width: 80px;
  margin: 10px;
}

.iconContainer {
  display: flex;
  width: 300px;
  justify-content: center;
}

/*MEDIA QUERIES*/

/* Medium Devices, Desktops */
@media (min-width: 992px) {
  .playBtnContainer {
    width: 120px;
  }
  .iconContainer {
    width: 500px;
  }
}
