.container {
  background-color: rgb(32, 76, 116);
  height: 100vh;
  background-image: url(../public/imgs/background.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.panel {
  background-image: url(../public/imgs/uiPanel1.png);
  width: 960px;
  height: 640px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  color: #fff;
  font-size: 4rem;
  font-family: cursive;
}