.level1 {
  grid-template-columns: 1fr 1fr;
}
.level2 {
  grid-template-columns: repeat(2, 1fr);
}
.level3 {
  grid-template-columns: repeat(3, 1fr);
}
.level4 {
  grid-template-columns: repeat(4, 1fr);
}
.level5 {
  grid-template-columns: repeat(4, 1fr);
}
.level6 {
  grid-template-columns: repeat(4, 1fr);
}
.level7 {
  grid-template-columns: repeat(4, 1fr);
}
.level8 {
  grid-template-columns: repeat(4, 1fr);
}

.levelContainer {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.title {
  font-size: 20px;
  text-shadow: var(--shadow-text);
  padding: 5px;
}

.score {
  font-size: 16px;
  text-shadow: var(--shadow-text);
}

.iconContainer {
  display: flex;
  width: 180px;
  align-self: flex-end;
  position: absolute;
  top: 0;
}

/*MEDIA QUERIES*/

/*Extra Small, Mobile*/
@media (min-width: 500px) {
  .level2 {
    grid-template-columns: repeat(4, 1fr);
  }
  .level3 {
    grid-template-columns: repeat(4, 1fr);
  }
  .level4 {
    grid-template-columns: repeat(4, 1fr);
  }
  .level5 {
    grid-template-columns: repeat(5, 1fr);
  }
  .level6 {
    grid-template-columns: repeat(6, 1fr);
  }
  .level7 {
    grid-template-columns: repeat(7, 1fr);
  }
  .level8 {
    grid-template-columns: repeat(8, 1fr);
  }

  .title {
    font-size: 50px;
    padding: 10px;
  }

  .score {
    font-size: 24px;
  }
}
